:root {
  --green: #0aa652;
  --red: #cb0300;
  --orange: #f7650c;
  --gray: #c2c2c2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

#portals {
  z-index: 1000;
}
